.btn-primary {
    color: #fff;
    background-color: #d996ee;
    border-color: #d996ee;
}
.icon-image {
    width: 80px;
    height: 80px;
    margin-bottom: 2rem;
    border-radius: 50px;
}
a {
    text-decoration: none;
    color: black;
}
.text-field {
    display: flex;
    align-items: flex-start;
}
.wrapper {
    background-color: whitesmoke;
    height: 100vh;
}
.wrapper-column {
    display: grid;
    place-items: center;
}
.collapse-wrapper {
    display: flex;
    align-items: flex-start;
}
